*{
    margin:0;
    padding:0;
}
html{
    background-color:#FFFFFF ;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6;
}
header{
    background-color: rgb(142, 142, 142);
    color: black;
    text-align: center;
}
main{
    background-color: #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;
}
.d1,form{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgb(195, 193, 193);
    color:black;
    height:450px;
    width:400px;
    border: 3px solid black;
    border-radius: 10px;
}
main input{
    height:40px;
    width:300px;
    border-radius:10px;
    font-size: large;
}
button{
    height:40px;
    width:100px;
    border:2px solid black;
    border-radius: 10px;
    background-color: grey;
    color:white;
    margin:5px 10px;
}
button:hover{
    background-color: darkgrey;
    color:blue;
}
footer{
    background-color: rgb(142, 142, 142);
    color:black;
    text-align: center;
}
}
