*{
    margin:0;
    padding:0;
}
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #FFFFFF;
}
.white{
    background-color: rgb(220, 220, 220);
    color:black;
}
header{
    height: 80px;
    width:100%;
    z-index: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}
#img img{
    height:60px;
    width:180px;
    scale:1.5;
    margin-left:40px;
}

.menu a img{
    height:25px;
    width:25px;
    padding:5px;
    margin:5px;
}
.menu img:hover{
    transform:scale(1.05);
}
main{
    display: flex;
    flex:1;
    flex-direction: column;
    margin-top: 100px;
}
.products{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  gap:0;
  overflow:hidden;
  border-radius:8px;
  align-items:stretch;
}
.products img{
  width:50%;
  height:550px;

}
.sports{
    display:flex;
    overflow-x:auto;
    scroll-behavior: smooth;
    scrollbar-color: rgb(253, 253, 253);
    justify-content: space-evenly;
}
.item{
    margin:5px 20px;
    display:flex;
    gap:20px;
    overflow:hidden;
    justify-content:space-evenly;
}
.item:hover{
    overflow-x:scroll;
    scroll-behavior: smooth;
    scrollbar-color: lightgrey;
    scrollbar-width:thin;
}
.item .image{
    height:300px;
    width:300px;
}
.image:hover{
    transform: scale(1.06);
}
.but{
    background-color: grey;
    color:white;
    padding:10px;
    height: 30px;
    width:150px;
    box-shadow: 6px 7px 1px lightgrey;
    border-radius:100px;
    text-align: center;
    margin: 10px;
    left:22%;

}
.but:hover{
  background-color: black;
  box-shadow: 1px 1px 1px lightgrey;
    transform:scale(1.05);
}

.footer {
  padding: 40px 20px 20px;
  font-size:20px;}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.footer-section {
  min-width: 200px;
  max-width: 250px;
}

.footer-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #00c4ff;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #00c4ff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color:black;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #00c4ff;
}

.social-icons a img{
    height:35px;
    width:35px;
    padding:5px;
    margin:5px;
}

.social-icons a img:hover{
    transform:scale(1.08);
}
.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 10px;
  color:black;
}
